<!-- Footer section start -->
<footer class="section bg-secondary position-relative pb-0">
	<img src="{{'/assets/images/bg/footer-bg.png' | relative_url}}" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget  mb-5 mb-lg-0">
					<h4 class="text-white mb-3">Síguenos en redes</h4>
					{{site.footer_content | markdownify}}

					<ul class="list-inline socials-links">
						{% for social in site.social %}
						<li class="list-inline-item mb-2">
							<a target="_blank" href="{{social.link}}" class="active"><i class="{{social.icon}}"></i></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			
			<!--div class="col-lg-2 col-md-6">
				<div class="footer-widget  mb-5 mb-lg-0">
					<h4 class="text-white mb-3">Services</h4>
					<ul class="list-unstyled lh-38">
						<li><a href="#">Brand Design</a></li>
						<li><a href="#">seo & marketing</a></li>
						<li><a href="#">creative design</a></li>
						<li><a href="#">photography</a></li>
						<li><a href="#">print design</a></li>
					</ul>
				</div>
			</div-->		
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget">
					<h4 class="text-white mb-3">Dónde estamos</h4>
					<ul class="list-unstyled lh-38">
						<li>{{site.address}}</li>
						<li><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
						<li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-lg-4 mb-5 mb-lg-0 col-md-6">
				<div class="footer-widget">
					<h4 class="text-white mb-3">Dare Planet Corp</h4>

					<ul class="list-unstyled lh-38">
						{% for menu in site.data.navigation.footer %}
						<li><a href="{{menu.url | relative_url }}">{{menu.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-btm ">
		<div class="container border-top py-4 mt-5">
			<div class="row align-items-center justify-content-md-between">
				<div class="col-12 col-lg-4">
					<div class="text-center text-lg-left "> <span>{{ site.copyright }}</span></div>
				</div>
				<div class="col-lg-4 text-center col-12">
					<a href="https://shuttle.dareplanet.com">
						<img src="{{site.logo | relative_url}}" alt="Logo Dare Planet Shuttle" class="img-fluid">
					</a>
				</div>
				<!--div class="col-lg-4 col-12">
					<div class="text-center text-lg-right">
						{% for menu in site.data.navigation.bottom %}
						<a href="{{menu.link | relative_url }}">{{menu.name}} {% unless forloop.last %} <span class="mx-2">|</span> {% endunless %}</a>
						{% endfor %}
					</div>
				</div-->
			</div>
		</div>		
	</div>

	<div class="bg-white border-top py-4 logos">
		<div class="text-center">
			<p>Subvencionado por el CDTI</p>
		</div>
		<div class="align-items-center justify-content-md-between">
			<div class="text-center">
				<img src="/assets/images/logos/logo-ministerio-ciencia.svg" alt="Logo ministerio de ciencia e innovación. Gobierno de España." class="mx-4 m-2 img-fluid">
				<img src="/assets/images/logos/logo-nextgeneration.svg" alt="Logo proyecto financiado por la Unión Europea. Next generation." class="mx-4 m-2 img-fluid">
				<img src="/assets/images/logos/plan-de-recuperacion.svg" alt="Logo del plan de transformación, recuperación y resilencia." class="mx-4 m-2 img-fluid">
				<img src="/assets/images/logos/logo-cdti.svg" alt="Logo de CDTI" class="mx-4 m-2 img-fluid">
				<!--a href="{{site.baseurl}}">
					<img src="{{site.logo | relative_url}}" alt="{{site.title}}" class="img-fluid">
				</a-->
			</div>
		</div>
	</div>

</footer>
<!-- Footer End -->

<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>